*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  min-height: 100vh;
  background: repeating-linear-gradient(90deg,
      #1a1a1a 0,
      #1a1a1a 2px,
      #000000 2px,
      #000000 5%,
      #1a1a1a 5%,
      #1a1a1a calc(5% + 1px),
      #000000 calc(5% + 1px),
      #000000 10%,
      #1a1a1a 10%,
      #1a1a1a calc(10% + 1px),
      #000000 calc(10% + 1px),
      #000000 18%,
      #1a1a1a 18%,
      #1a1a1a calc(18% + 1px),
      #000000 calc(18% + 1px),
      #000000 25%,
      #1a1a1a 25%,
      #1a1a1a calc(25% + 1px),
      #000000 calc(25% + 1px),
      #000000 35%,
      #1a1a1a 35%,
      #1a1a1a calc(35% + 1px),
      #000000 calc(35% + 1px),
      #000000 45%,
      #1a1a1a 45%,
      #1a1a1a calc(45% + 1px),
      #000000 calc(45% + 1px),
      #000000 55%,
      #1a1a1a 55%,
      #1a1a1a calc(55% + 1px),
      #000000 calc(55% + 1px),
      #000000 65%,
      #1a1a1a 65%,
      #1a1a1a calc(65% + 1px),
      #000000 calc(65% + 1px),
      #000000 75%,
      #1a1a1a 75%,
      #1a1a1a calc(75% + 1px),
      #000000 calc(75% + 1px));


  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}